<div class="col-md-8 col-md-offset-2">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" type="text" id="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input formControlName="password" type="password" id="password" class="form-control">
        </div>

        <button [disabled]="myForm.invalid" class="btn btn-primary" type="submit">Submit</button>

    </form>

</div>